$o-enterprise-color: #2383af !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #2992b8 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #1780b1 !default;
$u-menuitem-hover-bg: #eaf4f9 !default;