$o-brand-primary: #307ea1 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #4293b8 !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #7ea9c2,
    ) !default;