$o-brand-primary: #3c8782 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #50a7a1 !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #54a09b,
    ) !default;