$o-enterprise-color: #19876a !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #2f9479 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #007A5A !default;
$u-menuitem-hover-bg: #eaf3f1 !default;