$o-brand-primary: #29856a !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #53c79a !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #4da38c,
    ) !default;