$o-brand-primary: #665f99 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #665f99 !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #665f99,
    ) !default;