$o-brand-primary: #6c8b4b !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #859771 !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #98b485,
    ) !default;