$o-enterprise-color: #66954f !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #75ab38 !default;
$o-action-accent: $o-brand-primary !default;

$o-main-link-color: #2f7a61 !default;

$u-menuitem-hover: #669e27 !default;
$u-menuitem-hover-bg: #f2f9ea !default;