$o-enterprise-color: #714B67 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #a18499 !default;
$o-action-accent: $o-brand-primary !default;

$o-main-link-color: #017e84 !default;

$u-menuitem-hover: #804b72 !default;
$u-menuitem-hover-bg: #f3eef2 !default;