$o-brand-primary: #714B67 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #a18499 !default;
$o-action-accent: $o-brand-primary !default;

$o-main-link-color: #5dc0b9 !default;

$o-theme-text-colors: (
    "primary": #ad88a5,
    ) !default;