$o-brand-primary: #ae6464 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #da7a7a !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #d38383,
    ) !default;