$o-enterprise-color: #ae6464 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #da7a7a !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #d36565 !default;
$u-menuitem-hover-bg: #f7efef !default;