$o-enterprise-color: #b16080 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #97748c !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #b16080 !default;
$u-menuitem-hover-bg: #f8f2f4 !default;