$o-brand-primary: #bb5466 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #a1848e !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #a1848e,
    ) !default;