$o-enterprise-color: #b25968 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #a1848e !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #b34f61 !default;
$u-menuitem-hover-bg: #f3eeef !default;