$o-enterprise-color: #1e93c9 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #4fa8d1 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #1e93c9 !default;
$u-menuitem-hover-bg: #eaf4f9 !default;