$o-brand-primary: #9e8c57 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #b1a47e !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #9e8c57,
    ) !default;