$o-enterprise-color: #a98357 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #a98357 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #8e6c44 !default;
$u-menuitem-hover-bg: #f9f7ea !default;