///
/// This file is a copy of the bootstrap _variables.scss file where all the
/// left-untouched variables definition have been removed.
///

// == Color system
$light: $o-white !default;
$dark: $o-gray-900 !default;
$warning: $o-warning !default;
$danger: $o-danger !default;

$min-contrast-ratio: 3 !default;


// == Options
//
// Enable predefined decorative box-shadow styles on various components.
// Does not affect box-shadows used for focus states.
$enable-shadows: true !default;


// == Components
$component-active-color: unset !default;
$component-active-bg: mix($o-action-accent, $o-white, 10%) !default;

$nav-tabs-border-radius: 0 !default;
$nav-pills-border-radius: 0 !default;
$thumbnail-border-radius: 0 !default;
$card-border-radius: $o-border-radius !default;
$accordion-border-radius: $o-border-radius !default;
$toast-border-radius: $o-border-radius !default;
$badge-border-radius: $o-border-radius !default;
$progress-border-radius: $o-border-radius !default;
$list-group-border-radius: $o-border-radius !default;
$form-check-input-border-radius: $o-border-radius !default;


// == Typography
$h1-font-size: $o-font-size-base * 2.4 !default;
$h2-font-size: $o-font-size-base * 1.5 !default;
$h3-font-size: $o-font-size-base * 1.3 !default;
$h4-font-size: $o-font-size-base * 1.2 !default;
$h5-font-size: $o-font-size-base * 1.1 !default;


// == Buttons
$btn-transition: none !default;

$btn-box-shadow: 0 !default;
$btn-active-box-shadow: 0 !default;
$btn-focus-box-shadow: 0 !default;
$btn-close-color: #0e2238 !default;
$btn-close-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='#{$btn-close-color}' d='M14.3 12.179a.25.25 0 0 1 0-.354l9.263-9.262A1.5 1.5 0 0 0 21.439.442L12.177 9.7a.25.25 0 0 1-.354 0L2.561.442A1.5 1.5 0 0 0 .439 2.563L9.7 11.825a.25.25 0 0 1 0 .354L.439 21.442a1.5 1.5 0 0 0 2.122 2.121l9.262-9.263a.25.25 0 0 1 .354 0l9.262 9.263a1.5 1.5 0 0 0 2.122-2.121Z'/%3E%3C/svg%3E") !default;
$btn-close-opacity: .7 !default;

// == Dropdowns
$dropdown-header-color: $o-gray-500 !default;
$dropdown-box-shadow: 0 .3rem 1rem rgba(#000, .1) !default;
$dropdown-link-hover-color: $u-menuitem-hover !default;
$dropdown-link-hover-bg: $u-menuitem-hover-bg !default;

// == Tables
$table-cell-vertical-align: middle !default;
$table-hover-bg: shade-color($o-gray-100, 2%) !default;
$table-hover-bg-factor: .01 !default;

// == Forms
$input-placeholder-color: $o-gray-500 !default;
$input-border-color: $o-gray-200 !default;
$input-box-shadow: 0 !default;

$form-select-box-shadow: 0 !default;

$input-focus-bg: $o-white !default;
$input-focus-box-shadow: 0 !default;
$input-focus-border-color: mix($o-action-accent, $o-gray-200) !default;

$form-check-input-checked-color: $o-white !default;
$form-check-input-checked-border-color: $o-action-accent !default;
$form-check-input-checked-bg-color: $o-action-accent !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='12' height='10' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='#{$form-check-input-checked-color}'/%3e%3c/svg%3e") !default;

$form-select-focus-box-shadow: 0 !default;
$form-range-track-box-shadow: 0 !default;

//  == Modal
$modal-content-border-width: 0 !default;
$modal-footer-border-width: 1px !default;
$modal-header-border-width: 1px !default;

// == Z-index master list
//
// Change the z-index of the modal-backdrop elements to be equal to the
// modal elements' ones. Bootstrap does not support multi-modals, and without
// this rule all the modal-backdrops are below all the opened modals.
// Indeed, bootstrap forces them to a lower z-index as the modal-backdrop
// element (unique in their supported cases) might be put after the modal
// element (if the modal is already in the DOM, hidden, then opened). This
// cannot happen in odoo though as modals are not hidden but removed from
// the DOM and are always put at the end of the body when opened.
//
// TODO the following code was disabled because it is saas-incompatible
//
// $zindex-modal-backdrop: $zindex-modal;

// == Navs
$nav-link-color: $o-main-text-color !default;
$nav-tabs-link-active-color: $o-main-headings-color !default;
$nav-tabs-link-active-bg: transparent !default;


// == Badges
$badge-border-radius: $o-border-radius !default;
$badge-font-weight: normal !default;

// == Alerts
$alert-border-width: 0 !default;

// == Progress bars
$progress-box-shadow: 0 !default;

// == List group
$list-group-active-color: $o-action-accent !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border-color: $o-action-accent !default;


// == Image thumbnails
$thumbnail-box-shadow: 0 !default;


// == Breadcrumbs
$breadcrumb-active-color: $o-main-text-color !default;
$breadcrumb-divider-color: $o-main-color-muted !default;