///
/// This file is a copy of the bootstrap _variables.scss file where all the
/// left-untouched variables definition have been removed.
///


// == Color system
$light: $o-gray-300 !default;
$dark: $o-gray-700 !default;
$warning: $o-warning !default;
$danger: $o-danger !default;
$min-contrast-ratio: 4.5 !default;

$info-text-emphasis: shift-color($o-info, 90%) !default;
$info-bg-subtle: shift-color($o-info, -65%) !default;
$info-border-subtle: shift-color($o-info, 0%) !default;

// == Links
$link-shade-percentage: 15% !default;
$link-hover-color: shift-color($o-action, 30%) !default;


// == Components
$box-shadow: 0 .5rem 1rem rgba($o-white, .3) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($o-white, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($o-white, .3) !default;
$box-shadow-inset: inset 0 1px 2px rgba($o-white, .15) !default;

$component-active-bg: $o-gray-300 !default;


// == Buttons
$btn-close-color: #dfe6ec !default;


// == Typography
$mark-bg: #ffdebc !default;


// == Tables
$table-bg: $o-view-background-color !default;
$table-border-color: $o-gray-300 !default;
$table-group-separator-color: $o-gray-300 !default;
$table-bg-scale: -70% !default;
$table-striped-bg-factor: .02 !default;
$table-hover-bg: $o-gray-100 !default;
$table-active-bg-factor: .1 !default;


// == Forms
$input-border-color: $o-gray-300 !default;
$input-placeholder-color: $o-gray-500 !default;
$input-focus-bg: inherit !default;
$form-range-thumb-active-bg: lighten($o-brand-primary, 10%);

$form-check-input-checked-color: $o-black !default;

$form-switch-checked-color: $o-gray-200 !default;

$form-switch-color: rgba($o-black, .5) !default;
$form-switch-focus-color: $o-black !default;
$form-switch-checked-color: $o-view-background-color !default;


// == Dropdowns
$dropdown-bg: $u-island-bg !default;

// == Cards
$card-cap-bg: $o-view-background-color !default;


// == Tooltips
$tooltip-color: $o-gray-800 !default;
$tooltip-bg: $o-gray-300 !default;


// == Popovers
$popover-bg: $dropdown-bg !default;


// == Alerts
$alert-bg-scale: -65% !default;
$alert-border-scale: 0% !default;
$alert-color-scale: 90% !default;


// == List group
$list-group-bg: $o-view-background-color !default;


// == Keyboard Input
$kbd-color: $o-gray-200 !default;
$kbd-bg: $o-gray-900 !default;
$kbd-box-shadow: 0px 1px 1px rgba($o-white, 0.2), inset 0px -1px 1px 1px rgba($o-gray-800, 0.8), inset 0px 2px 0px 0px rgba($o-black, 0.8) !default;