.o_form_view {

    .o_form_renderer:has(.o_attachment_preview):has(.o_form_sheet_bg.xl_sheet) {

        .o_form_sheet_bg {
            // REF: web/static/src/views/form/form_controller.scss
            overflow: auto;
            display: flex;
            flex-direction: column;
            flex: 2 1 $o-form-sheet-min-width; // Side chatter is disabled if this has to shrink but this was added for safety

            max-width: unset;
            scrollbar-width: none;
        }

        // REF: mail/static/src/core/common/attachment_view.scss
        .o_attachment_preview {
            display: block;
            flex-basis: auto; // basis only
            overflow: hidden;

            @include o-mail-AttachmentView;
        }

        .o_attachment_control {
            position: absolute;
            top: 8%;
            background-color: black;
            opacity: 0.3;
            margin-top: -15px;
            transition: all 0.3s;
            z-index: $zindex-dropdown; // due to the absolute position in o-mail-Attachment-imgContainer

            &:hover {
                opacity: 0.7;
            }

            &.popout {
                right: 0px;
                border-radius: 30px 0 0 30px;
                padding: 15px 0 15px 15px;

                &:hover {
                    padding-right: 15px;
                }
            }
        }
    }
}