.o_form_view:not(.o_field_highlight) {
    .o_inner_group {
        gap: .7rem $o-horizontal-padding;
    }

    .o_cell {
        --omux-input-bb: #{rgba($o-gray-400, .36)};

        .o_field_widget:not([class*="many2"]):has(.o_input) {
            border-bottom: 1px solid var(--omux-input-bb);
        }

        .o_field_widget[class*="many2one"]:has(.o_input) {
            &:not([class*="many2one_avatar"]) {
                border-bottom: 1px solid var(--omux-input-bb);
            }

            &[class*="many2one_avatar"] {
                .o_field_many2one_selection {
                    border-bottom: 1px solid var(--omux-input-bb);
                }
            }
        }

        .o_field_widget[class*="many2many_avatar"]:has(.o_input) {
            border-bottom: 1px solid var(--omux-input-bb);
        }
    }
}