.o_kanban_renderer {
    --Kanban-gap: 11px;
    --KanbanRecord-margin-h: 0;
    --KanbanRecord-margin-v: 0;

    &.o_kanban_ungrouped {
        padding-top: var(--Kanban-ungrouped-pt, #{$u-kanban-ungrouped-pt}) !important;
        padding-inline: 9pt !important;
        padding-bottom: 0 !important;

        .oe_kanban_card {
            border-top: $border-width solid $border-color !important;
        }
    }

    .o_kanban_record:not(.o_legacy_kanban_record) {
        border-radius: $o-border-radius-xl;

        // Records colours
        @for $size from 2 through length($o-colors) {

            // Note: the first color is not defined as it is the 'no color' for kanban
            &.o_kanban_color_#{$size - 1}::after {
                top: var(--KanbanRecord-padding-v);
                height: 16%;
                min-height: 1.5rem;
                max-height: 2rem;
            }
        }

        aside {
            &.o_kanban_aside_full {
                margin: var(--KanbanRecord-padding-v) 0 var(--KanbanRecord-padding-v) var(--KanbanRecord-padding-v);

                img {
                    border-radius: $o-border-radius-xl;
                }
            }
        }
    }
}